@import "tailwindcss";

@layer utilities {
    .scrollbar-thin-gray {
        scrollbar-width: thin;
        scrollbar-color: #181818 #181818;
        transition: scrollbar-color 0.25s ease;
    }

    .scrollbar-thin-gray:hover {
        scrollbar-color: #5c5c5c #181818;
    }

    @media (max-width: 768px) {
        .scrollbar-thin-gray {
            scrollbar-width: none;
        }
    }

    .scrollbar-hidden {
        scrollbar-width: none;
    }
}