@import "tailwindcss";

@layer utilities {
    .scrollbar-thin-gray {
        scrollbar-width: thin;
        scrollbar-color: #181818 #181818;
        transition: scrollbar-color 0.25s ease;
    }

    .scrollbar-thin-gray:hover {
        scrollbar-color: #5c5c5c #181818;
    }

    @media (max-width: 768px) {
        .scrollbar-thin-gray {
            scrollbar-width: none;
        }
    }

    .scrollbar-hidden {
        scrollbar-width: none;
    }

    .media-slider {
        -webkit-appearance: none;
        appearance: none;
        height: 0.25rem;
        border-radius: 0.125rem;
        outline: none;
        transition: height 0.25s;
    }

    .media-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        transition: opacity 0.25s;
    }

    .media-slider-red::-webkit-slider-thumb {
        background: #ff0000;
    }

    .media-slider-white::-webkit-slider-thumb {
        background: #ffffff;
    }
}