@import "tailwindcss";

@layer components {
    .scrollbar-thin-gray {
        &::-webkit-scrollbar {
            width: 0.5rem;
        }

        &::-webkit-scrollbar-track {
            background: #181818;
            border-radius: var(--radius-md);
        }

        &::-webkit-scrollbar-thumb {
            background: #5c5c5c;
            border-radius: var(--radius-md);
        }
    }

    .scrollbar-hidden {
        &::-webkit-scrollbar {
            display: none;
        }
    }
}